body {
   font-family: Arial, sans-serif;
   background: #EEE;
}
h1 {
   margin: 0 0 0 0;
}
h2 {
   margin: 0 0 0 0;  
   padding: 0 35px;
}
#chooser {
   background: #FFF;
   height: 88%;
   z-index: -100;
}
.split {
   width: 37.15%;
   float: left;
}
.half {
   padding-top: 27.5%;
   padding-bottom: 27.5%;
   line-height: 120px;
   font-size: 2em;
}
.eighth {
	text-align: left !important;
}
.eighth span {
	font-size: 28px;
	text-align: left;
	background: blue;
}
span.Hole {
	background: red;
	width: 15%;
}

.PlusMinus {
	background: green !important;
}
.Score {
	background: white !important;
	padding: 0px 5px;
}
/**ORDERED**/
.center {
	text-align: center;
}
.clear {
	clear: both;

}
#desktop {
	height: 1300px;
}

.eighth {
   height: 3.85%;
   padding: 0 0 0 0;
   white-space:nowrap;
}
.eighth:hover {
	background-color: #EEE !important;
}
.empty:hover{
   background-color: inherit !important;
   border-color: inherit;
}
.face {
	opacity: 0.5;
}
.face:hover {
	opacity: 1;
}
.face1{
	background: url(../img/1.png) white no-repeat;
	background-position: center;
	background-size: cover;
}
.face1:hover {
	background-color: red !important;
}
.face1-tiny {
	float: right;
	width: 50px;
	height: 50px;
	background: url(../img/1.png) no-repeat;
	background-size: cover;
}
.face2{
	background: url(../img/2.png) white no-repeat;
	background-position: center;
	background-size: cover;
}
.face2:hover {
	background-color: yellow !important;
}
.face2-tiny {
	float: right;
	width: 50px;
	height: 50px;
	background: url(../img/2.png) no-repeat;
	background-size: cover;
}
.face3{
	background: url(../img/3.png) white no-repeat;
	background-position: center;
	background-size: cover;
}
.face3:hover {
	background-color: royalblue !important;
}
.face3-tiny {
	float: right;
	width: 50px;
	height: 50px;
	background: url(../img/3.png) no-repeat;
	background-size: cover;
}
.face4{
	background: url(../img/4.png) white no-repeat;
	background-position: center;
	background-size: cover;
}
.face4:hover {
	background-color: lime;
}
.face4-tiny {
	float: right;
	width: 50px;
	height: 50px;
	background: url(../img/4.png) no-repeat;
	background-size: cover;
}
.feature {
   background-color: royalblue;
   font-weight: bold;
   color: white;
}
#footer {
	clear: both;
	margin: 0 0 0 0;
	padding: 50px;
	background: black;
	color: white;
	margin-top: 50px;
}
.highlight {
	background: #FFF !important;
}
#loading {
	color: white;
	font-size: 1.2em;
	font-style: italic;
	background: rgba(0,0,0,0.25);
	position: relative;
	top: -49px;
	text-align: center;
	padding: 15px;
}
#loading-vertical {
	color: white;
	font-size: 1.2em;
	font-style: italic;
	background: rgba(0,0,0,0.25);
	position: relative;
	top: 3px;
	text-align: center;
	padding: 15px;
}
.ng-view-container {
}
#overlay-block-screen {
	position: absolute;
	background: rgba(0,0,0,0.75);
	height: 375px;
	width: 250px;
}
#overlay-left {
	position: absolute;
	width: 115px !important;
	background: #FFF;
	z-index: 10;
	color: black;
	padding: 0px;
	border: none;
}
#overlay-left div {
	border: none;

}
#overlay-left div:hover {
	background: #CCC !important;
	border: none !important;
}
.overlay-pane {
	padding: 5px;
}
.overlay-pane:hover {
	background: #CCC;
}

#overlay-right {
	float: right;
	position: absolute;
	width: 140px;
	background: #FFF;
	z-index: 10;
	color: black;
	padding: 0px;
	border: none;
	margin-left: 110px;
}
#overlay-right div {
	line-height: 50px
}
#overlay-right div:hover{
	color: white !important;
}
.page table {
	width: 100%;
}
.page table th {
	background: black;
	border: solid thin white;
	color: white;
}
.page table td {
	border: solid thin #eee;
	text-align: center;
}
.pane {
   text-align: center;
   padding: 4%;
   border: solid thin #ccc;
}
.pane a {
   text-decoration: none;
   color: inherit;
}
.pane:active {
   color: white;
   background-color: green;
}  
.pane img {
   height: 200%;
   border: solid thin red;
}
.quarter {
   padding-top: 8.17%;
   padding-bottom: 8.17%;
   line-height: 60px;
   font-size: 1em;
}
#splash-image{
	background: url(../img/talkngolf-470x320.png) no-repeat;
	background-size: 100%;
   background-position: 0px -20px;
	height: 100%;
}
#splash-image-vertical{
	background: url(../img/talkngolf-470x320.png) #FFF no-repeat;
	background-size: 100% cover;
   	background-position: 50% -5%;
	height: 95%;
}
#subtitle {
   padding: 2%;
   background: #CCC;
   color: black;
   font-weight: bold;
   text-align: center;
   line-height: 20px;
   height: 20px;
}
#subtitle div {;
   width: 49%;
   margin: auto;
}
#subtitle div a {
   background: black;
   color: white;
   padding: 3px 6px;
   border-radius: 20px 20px 20px;
   font-size: 0.7em;
}

.whitebg {
   background-color: white;
   color: black;
   border: solid thin #ccc;
}
